
* {
  font-family: 'League Spartan', sans-serif;
  background-color: #121214;
  
}


h1{
  color: #08C05E;
  font: 700 Spartan 
}

h2 {

  color: #E1E1E6;
}

p {

  color:#E1E1E6 

}


img {
  display: flex;
  height: 100px;
 
}

main {
  padding: 2rem;



}

